@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&family=Kenia&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* 1st letter */

.whyWLetter,
.didDLetter,
.theTLetter,
.frontendFLetter,
.developerDLetter,
.takeTLetter,
.upULetter,
.gardeningGLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* 2nd letter */
.whyHLetter,
.didILetter,
.theHLetter,
.frontendRLetter,
.developerELetter,
.takeALetter,
.upPLetter,
.gardeningALetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

/* 3rd letter */
.whyYLetter,
.didDTwoLetter,
.theELetter,
.frontendOLetter,
.developerVLetter,
.takeKLetter .gardeningRLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* 4th letter */
.frontendNLetter,
.developerETwoLetter,
.takeELetter,
.gardeningDLetter {
  font-size: 36px;
  font-weight: normal;
  color: #f5deb3;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Kenia", serif;
}

/* 5th letter */
.frontendTLetter,
.developerLLetter,
.gardeningELetter {
  font-size: 18px;
  font-weight: bold;
  color: #4682b4;
  text-decoration: wavy;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 6th letter */
.frontendELetter,
.developerOLetter,
.gardeningNLetter {
  font-size: 25px;
  font-weight: 400;
  color: indianred;
  text-decoration: line-through;
  text-transform: capitalize;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* 7th letter */
.frontendNTwoLetter,
.developerPLetter,
.gardeningILetter {
  font-size: 16px;
  font-weight: 550;
  color: forestgreen;
  text-decoration: double;
  text-transform: full-width;
  font-family: "Courier New", Courier, monospace;
}

/* 8th letter */
.frontendDLetter,
.developerEThreeLetter,
.gardeningNTwoLetter {
  font-size: 40px;
  font-weight: 700;
  color: thistle;
  text-decoration: double;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

/* 9th letter */
.developerRLetter,
.gardeningGTwoLetter {
  font-size: 90px;
  font-weight: 100;
  color: violet;
  text-decoration: wavy;
  text-transform: lowercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* 1st letter of answer */
.becauseBLetter,
.theyTLetter,
.wantedWLetter,
.toTLetter,
.improveILetter,
.theirTLetter,
.rootRLetter,
.skillsSLetter {
  font-size: 25px;
  font-weight: 250;
  color: violet;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Vollkorn", serif;
}
.becauseELetter,
.theyHLetter,
.wantedALetter,
.toOLetter,
.improveMLetter,
.theirHLetter,
.rootOLetter,
.skillsKLetter {
  font-size: 40px;
  font-weight: 700;
  color: thistle;
  text-decoration: double;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
}
.becauseCLetter,
.theyELetter,
.wantedNLetter,
.improvePLetter,
.theirELetter,
.rootOTwoLetter,
.skillsILetter {
  font-size: 16px;
  font-weight: 550;
  color: forestgreen;
  text-decoration: double;
  text-transform: full-width;
  font-family: "Courier New", Courier, monospace;
}

.becauseALetter,
.theyYLetter,
.wantedTLetter,
.improveRLetter,
.theirILetter,
.rootTLetter,
.skillsLLetter {
  font-size: 40px;
  font-weight: 400;
  color: indianred;
  text-decoration: line-through;
  text-transform: capitalize;
  font-family: "Ceviche One", serif;
}
.becauseULetter,
.wantedELetter,
.improveOLetter,
.theirRLetter,
.skillsLTwoLetter {
  font-size: 18px;
  font-weight: bold;
  color: #4682b4;
  text-decoration: wavy;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.becauseSLetter,
.wantedDLetter,
.improveVLetter,
.skillsSLetter {
  font-size: 22px;
  font-weight: bold;
  color: #4682b4;
  text-decoration: wavy;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.becauseETwoLetter,
.improveELetter {
  font-size: 36px;
  font-weight: normal;
  color: #f5deb3;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* SYMBOLS */

.hyphen {
  font-size: 50px;
  font-weight: 700;
  color: black;
  text-decoration: double;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.exclamation-mark {
  font-size: 40px;
  font-weight: 700;
  color: black;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.question-mark {
  font-size: 50px;
  font-weight: 700;
  color: wheat;
  text-decoration: double;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
